@import "pygments";
@import "tags";

$ubuntu-code-color: #FDF6F2;
$table-border-color: #dddddd;
$vote-color: #919191;

header.banner .nav-primary ul.right {
    float: right;
}

body.snippet-details {
    #meta {
        margin-bottom: 20px;
    }
    .code-row {
        margin-top: 0px;
        padding-top: 0px;
    }
    table {
        border-top: 0;
        table-layout: fixed;
        td.linenos {
            width: 60px;
        }
        td {
            vertical-align: top;
            text-align: left;
            padding: 0;
            border: 0;
            background: $ubuntu-code-color;
        }
    }
    .highlighttable .code > div {
        overflow: auto;
    }
    .highlight pre {
        white-space: pre;
    }
    div.highlight {
        background: $ubuntu-code-color;
    }
    #actions {
        background: $table-border-color;
        text-align: right;
        list-style: none;
        margin: 0;
        li {
            display: inline-block;
            margin-bottom: 0;
        }
        a {
            font-size: 1.125rem;
            display: inline-block;
            padding: 5px 10px;
            color: darken($table-border-color, 30);
            text-transform: lowercase;
            span {
                display: none;
            }
            &:hover {
                color: darken($table-border-color, 50);
            }
        }
    }
    .vote {
        text-align: center;
        list-style: none;
        margin: 0;
        li {
            display: inline-block;
            margin-bottom: 0;
        }
        a {
            font-size: 2em;
            display: inline-block;
            padding: 5px 10px;
            color: $vote-color;
            text-transform: lowercase;
            &:hover {
                color: darken($vote-color, 20);
            }
            span {
                display: none;
            }
        }
        #score {
            font-size: 2em;
            padding: 5px 10px;
            color: $vote-color;
        }
    }
}
