  <h3>Remember</h3>
  <ul>
  <li>All fields are required</li>
  <li>Separate tags with spaces</li>
  <li>You can use Markdown in the snippet's description, but <strong>raw HTML will be removed</strong>.</li>
  </ul>

  <h3>Markdown cheatsheet</h3>
    <dl>
    <dt>Bold and italic text:</dt>
    <dd><strong><code>**bold**</code></strong> and <em></code>*italic*</code></em> text</dd>

    <dt>Links:</dt>
    <dd><code>[link text](link URL)</code></dd>

    <dt>Code:</dt>
    <dd><code>`code`</code></dd>

    <dt>Code block:</dt>
    <dd>Indent each line four spaces</dd>

    <dt>Block quote:</dt>
    <dd>Start each line with <code>&gt;</code></dd>

    <dt>Unordered list:</dt>
    <dd>Start each item with <code>*</code></dd>

    <dt>Ordered list:</dt>
    <dd>Start each item with a number and a period: <code>1.</code>

  </dl>

  <p class="content-cat"><a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a></p>