{% load static from staticfiles %}<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" dir="ltr"> <!--<![endif]-->
<head>

  <title>Ubuntu Snippets: {% block head_title %}Home{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="description" content="{% block meta_description %}{% endblock %}" />
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
  <meta name="author" content="Canonical" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=8">
  <![endif]-->

  <link rel="shortcut icon" href="http://assets.ubuntu.com/sites/ubuntu/latest/u/img/favicon.ico" type="image/x-icon" />

  {# Get ubuntu font from google #}
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic%7CUbuntu+Mono' rel='stylesheet' type='text/css' />

  {# Get font awesome #}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">

  {# Get Ubuntu guidelines css #}
  <link rel="stylesheet" type="text/css" media="screen" href="//assets.ubuntu.com/sites/guidelines/css/responsive/latest/ubuntu-styles.css" />

  {#  Get global nav CSS #}
  <link rel="stylesheet" type="text/css" media="screen" href="//assets.ubuntu.com/sites/ubuntu/latest/u/css/beta/global-responsive.css" />

  {# Site-specific CSS #}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />

  {# Use modernizr #}
  <!-- <script src="{{ STATIC_URL }}js/plugins/modernizr.2.7.1.js"></script> -->
  <script src="{% static 'js/modernizr.js' %}"></script>

  <link rel="alternate" href="{% url 'cab_feed_latest' %}" type="application/atom+xml" title="Feed of latest snippets" />

  {% block feeds %}{% endblock %}

  {% block head_extra %}{% endblock %}

</head>

<body class="{% block bodyclass %}{% endblock %}">

  <header class="banner global" role="banner">
    {% block header_banner %}
    <nav role="navigation" class="nav-primary nav-right">
      <div class="logo">
        <a class="logo-ubuntu" href="/">
          <img width="106" height="25" alt="" src="http://assets.ubuntu.com/sites/ubuntu/latest/u/img/logos/logo-ubuntu-orange.svg">
            <span>snippets</span>
          </a>
      </div>
      <ul>
        <li class="accessibility-aid"><a accesskey="s" href="#main-content">Jump to content</a></li>
        {# FIXME fix the slugs here to make the section active #}
        <li><a{% if level_1 == 'partnering-with-us' %} class="active"{% endif %} href="{% url 'cab_snippet_list' %}">Browse</a></li>
        <li><a{% if level_1 == 'find-a-partner' %} class="active"{% endif %} href="{% url 'cab_snippet_add' %}">Submit</a></li>
      </ul>

      <form class="header-search" method="get" action="/search/">
        <label class="off-left" for="q">Search:</label>
        <input type="search" autocomplete="off" name="q" id="q" value="{% if form.q.value %}{{ form.q.value }}{% endif %}" placeholder="Search">
        <button type="submit"><img src="//assets.ubuntu.com/sites/ubuntu/1218/u/img/search-white.svg" alt="Search" height="28" /></button>
      </form>

      {# Show login controls #}
      <ul class="right inline">
        {% if user.is_authenticated %}
            {% load avatar_tags %}
            <li><a href="{{ user.get_absolute_url }}"><!--<span>{% avatar user.username 16 %}</span>-->{{ user.get_short_name|default:user.username }}</a></li>
            <li><a href="/logout/?next={{request.path}}">Sign out</a></li>
        {% else %}
            <li><a href="/openid/login/?next={{request.path}}">Sign in or register</a></li>
        {% endif %}
      </ul>

      <a href="#canonlist" class="nav-toggle no-script">☰</a>
    </nav>
    {% endblock header_banner %}
  </header>

  <div class="wrapper">
    <div id="main-content" class="inner-wrapper">
      {% block header %}{% endblock %}
      {% block content_container %}
        {% block outer_content %}{% endblock outer_content %}
      {% endblock content_container %}
    </div><!-- /.inner-wrapper -->
  </div><!-- /.wrapper -->

  <footer class="global clearfix" role="contentinfo">
    <div class="legal clearfix">
      <p>
        &copy; 2014 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.
        <a href="https://bugs.launchpad.net/ubuntusnippets/+filebug" class="link-bug">Report a bug on this site</a>
      </p>
    </div>
  </footer>

  {% include "templates/footer.html" %}

  <script src="//assets.ubuntu.com/sites/ubuntu/latest/u/js/plugins/yui-combined.min.js"></script>
  <script>
    if(!core){ var core = {}; }
    core.globalPrepend = 'body';
  </script>
  <script src="//assets.ubuntu.com/sites/guidelines/js/responsive/core.js"></script>
  <!--<script src="{{ STATIC_URL }}js/scratch.js"></script> -->
  <script src="//assets.ubuntu.com/sites/ubuntu/latest/u/js/global.js"></script>
  <!-- <script src="{% static 'js/plugins/respond.min.js' %}"></script> -->

{% block footer_extra %}{% endblock %}

</html>
