{% extends "base_index.html" %}
{% load static from staticfiles %}

{% block extra_scripts %}
  <script type="text/javascript" language="javascript" src="{% static "js/snippets.js" %}"></script>
  <script type="text/javascript" language="javascript">
    $(function() {
      var tag_hint = new Snippets.TagCompletion();
      tag_hint.bind_listener('input#id_q', 'input#id_output');
    });
  </script>
{% endblock %}

{% block head_title %}Add a snippet{% endblock %}

{% block content %}

<div class="row row-hero no-border no-padding-bottom no-margin-bottom equal-height">
<h1>Add a snippet</h1>
	<div class="eight-col">
		

  {% if form.errors %}
    <p class="error">Please correct the errors below: </p>
  {% endif %}

  <form method="post" action="">{% csrf_token %}

 <fieldset>
   <ul>

    <li>
     <!-- Snippet title -->
     <label for="id_title">Title: {% if form.title.errors %}<span class="error">{{ form.title.errors|join:", " }}</span>{% endif %}</label>
     <input name="title" id="id_title" type="text" tabIndex="1" value=""/>
    </li>

    <li>
     <!-- Snippet code -->
     <label for="id_code">Code: {% if form.code.errors %}<span class="error">{{ form.code.errors|join:", " }}</span>{% endif %}</label>
     <textarea name="code" id="id_code" type="text" cols="20" rows="6" tabIndex="2" value=""></textarea>
    </li>

    <li>
     <!-- Snippet description -->
     <label for="id_description">Description: {% if form.description.errors %}<span class="error">{{ form.description.errors|join:", " }}</span>{% endif %}</label>
     <textarea name="description" id="id_description" cols="20" rows="2" tabIndex="3" value=""></textarea>
    </li>

    <li>
     <!-- Snippet language -->
     <label for="id_language">Language: {% if form.language.errors %}<span class="error">&nbsp;&nbsp;{{ form.language.errors|join:", " }}</span>{% endif %}</label>
     {{ form.language }}
    </li>

    <li>
     <!-- Snippet version -->
     <label for="id_version">Version: {% if form.version.errors %}<span class="error">&nbsp;&nbsp;{{ form.version.errors|join:", " }}</span>{% endif %}</label>
     {{ form.version }}

    <li>

     <!-- Snippet tags -->
     <label for="id_tags">Tags: {% if form.tags.errors %}<span class="error">{{ form.tags.errors|join:", " }}</span>{% endif %} </label>
      {{ form.tags }}
    </li>
   </ul>
 </fieldset>

 <fieldset class="fieldset-submit">
  <ul>
   <li> Please remember that this site is not a pastebin or debugging tool; it is intended for finished, working pieces of code. If you need to temporarily post some code while others help you debug it, please use the <a href="http://pastebin.ubuntu.com">Ubuntu Pastebin</a>.</li>
   <li>
    <input type="submit" value="Submit" tabindex="5">
   </li> 
  </ul>
 </fieldset>
</form>

	</div>
	<div class="four-col last-col">

<div class="box">
  <ul>
  <li>All fields are required</li>
  <li>Separate tags with spaces</li>
  <li>You can use Markdown in the description for your snippet, but <strong>raw HTML will be removed</strong>.</li>
  </ul>

  <h3>Markdown quick ref:</h3>
    <dl>
    <dt>Bold and italic text:</dt>
    <dd><strong>**bold**</strong> and <em>*italic*</em> text</dd>

    <dt>Links:</dt>
    <dd>[link text](link URL)</dd>

    <dt>Code:</dt>
    <dd><code>`code`</code></dd>

    <dt>Code block:</dt>
    <dd>Indent each line four spaces</dd>

    <dt>Blockquote:</dt>
    <dd>Start each line with &gt;</dd>

    <dt>Unordered lists:</dt>
    <dd>Start each item with *</dd>

    <dt>Ordered lists:</dt>
    <dd>Start each item with a number and a period (e.g., 1. for the first item, 2. for the second, and so on)</dd>

    <dt></dt>
    <dd></dd>
  </dl>
</div>

	</div>
</div>

{% endblock %}
